body { 
   background-color: hsl(212, 45%, 89%);
   font-family: 'Outfit', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
}
div{
    border-radius: 15px;
    padding: 14px;
    background-color: white;
    width: 250px;
  }
 #title{
    font-weight: bolder;
    padding: 0px 2px;

 }
 #content{
    color:  rgb(117, 119, 122);
    font-weight: lighter;
    font-size: 13px;
    padding: 0px 10px;
    margin-bottom: 20px;
    
 }
 #qr{
    border-radius: 10px;
 }
 